<div class="row-layout group">
  <div class="column-layout group_1">
    <igx-input-group type="border" class="ig-typography__body-1 textarea">
      <label igxLabel>Message Summary</label>
      <textarea value="Chart of number of SMS, Emails, Calls, Push" igxInput></textarea>
    </igx-input-group>
  </div>
  <div class="column-layout group_1">
    <igx-input-group type="border" class="ig-typography__body-1 textarea">
      <label igxLabel>Campaign Summary</label>
      <textarea value="Campaign data" igxInput></textarea>
    </igx-input-group>
  </div>
</div>
<div class="row-layout group">
  <div class="column-layout group_1">
    <igx-input-group type="border" class="ig-typography__body-1 textarea">
      <label igxLabel>SMS</label>
      <textarea igxInput></textarea>
    </igx-input-group>
  </div>
  <div class="column-layout group_1">
    <igx-input-group type="border" class="ig-typography__body-1 textarea">
      <label igxLabel>Email</label>
      <textarea igxInput></textarea>
    </igx-input-group>
  </div>
  <div class="column-layout group_1">
    <igx-input-group type="border" class="ig-typography__body-1 textarea">
      <label igxLabel>Calls</label>
      <textarea igxInput></textarea>
    </igx-input-group>
  </div>
</div>
