<div class="row-layout group">
  <div class="column-layout group_1">
    <div class="column-layout group_2">
      <p class="text">
        Key Metrics
      </p>
      <a target="_blank" routerLink="/communications-app/conversations" class="ig-typography__body-2 hyperlink">
        Vantage
      </a>
    </div>
    <div class="column-layout group_3">
      <p class="text">
        New Returns
      </p>
      <a target="_blank" routerLink="/main/appointments" class="ig-typography__body-2 hyperlink">
        Tax Preparation
      </a>
    </div>
  </div>
  <div class="column-layout group_4">
    <div class="column-layout group_5">
      <p class="text">
        New Leads
      </p>
      <a target="_blank" routerLink="/main/clients" class="ig-typography__body-2 hyperlink">
        Search All Leads
      </a>
    </div>
    <div class="column-layout group_5">
      <p class="text">
        Recent Customers
      </p>
      <a target="_blank" class="ig-typography__body-2 hyperlink_4">
        Search All Customers
      </a>
    </div>
  </div>
  <div class="column-layout group_4">
    <div class="column-layout group_3">
      <p class="text">
        Appointments
      </p>
      <a target="_blank" routerLink="/main/tasks" class="ig-typography__body-2 hyperlink">
        View Calendar
      </a>
    </div>
    <div class="column-layout group_3">
      <p class="text">
        Today’s Tasks
      </p>
      <a target="_blank" routerLink="/main/main-settings" class="ig-typography__body-2 hyperlink">
        View Tasks
      </a>
    </div>
  </div>
</div>
